@keyframes slide-in-menu {
	from {
		width: 0px;
	}

	to {
		width: 100%;
	}
}

.site_menu {
	display: flex;
	justify-content: center;

	@media #{$xs}{
		display: none;
	}
	@media #{$sm}{
		display: none;
	}
	@media #{$md}{
		display: none;
	}
}

.menu_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: calc(70vw + 1.75rem);
}

.brand_logo {
  display: flex;
}

.main_menu{
  .menu_item {
    position: relative;
    display: inline-block;
    margin-left: 40px;

    a {
      display: block;
      margin: 14px 0;
      padding-bottom: 4px;
      color: $font-color-bold;
      font-weight: 400;
      position: relative;
      text-decoration: none;

      @media #{$desktop}{
				@include fluid-type(16px, 16px, 18px);
      }

      &.active_link{
        text-decoration: none;
        font-weight: bold;

        &:after {
          background: $theme_color;
          animation-duration: 0.5s;
          animation-name: slide-in-menu;
          animation-fill-mode: forwards;
        }
      }

      &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        transition: width .5s;
      }
    }
  }
}

.mobile_wrapper{
	display: flex;
	width: 100%;
	align-items: center;

	.mobile_header {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
	}

	@media #{$lg}{
		display: none;
	}

	@media #{$desktop}{
		display: none;
	}

	.menu_button{
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		border-radius: 100%;
		background: $font-color-bold;
    cursor: pointer;

		.menu_icon{
			width: 20px;

			& span{
				display: block;
				width: 20px;
				height: 2px;
				background-color: $mobile_hamburger_color;
				margin: 4px 0 2px;
				transition:.5s;

				&:nth-child(1){
					margin-top: 0;
				}
				&:nth-child(3){
					width: 15px;
					margin-bottom: 0;
				}
			}

      &.active{
        & span{
          &:nth-child(1){
            width: 10px;
          }
          &:nth-child(2){
            width: 15px;
          }
          &:nth-child(3){
            width: 10px;
          }
        }
      }
		}
	}
}

.sidenav_menu{
	width: 60%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 40px 30px;
	z-index: 9999;
	background: $font-color-bold;
	transform: translateX(-110%);
	transition: .5s;

  &.active{
		transform: translateX(0);
	}

	.sidenav_header {
		border-bottom: 1px solid #F6E8C3;
		margin-bottom: 30px;

		p {
			color: $white;
			font-weight: bold;
			@include fluid-type(16px, 18px, 18px);
		}
	}

	.close_icon{
		position: absolute;
		top: 80px;
		right: -38px;

		.close_btn{
			width: 30px;
			height: 30px;
			top: 20px;
			right: 22px;
			position: absolute;
			color: $white;
		}

		.close_bg {
			height: 70px;
		}
	}

	.sidebar_menu {
		padding-left: 0;

		& li{
			display: flex;
			align-items: center;
			margin-bottom: 30px;

			.menu_icon {
				margin-right: 15px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;

				svg {
					height: 25px;
					width: auto;
				}
			}

			a{
				display: flex;
				align-items: center;
				text-transform: capitalize;
				color: $white;
				@include fluid-type(18px, 22px, 24px);
				font-weight: 600;
				text-decoration: none;

				&.active_link {
					color: $theme_color;
				}

				&.deneb_btn {
					&:hover {
						color: $white;
					}
					&:focus {
						color: $white;
					}
				}
					&:hover,
					&:focus{
						color: $theme_color;
					}
					& .deneb_btn{
						padding: 0;
					}
				}
		}
	}

	@media #{$md, $desktop} {
		width: 40%;
	}
}
