.aboutme {
  &Location {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #E5DBDB;
    padding: 20px;
    margin-bottom: 40px;

    &Title {
      font-size: 36px;
      color: #074C5F;
      font-weight: bold;
      margin-bottom: 100px;

      @media #{$xs}, #{$sm} {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    &Img {
      display: inline-block;
      margin-bottom: 20px;
      padding: 20px;

      img {
        width: 100%;
      }
    }

    &Info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 5px;
      font-size: 18px;
      font-weight: 500;

      @media #{$xs}, #{$sm} {
        display: flex;
        flex-wrap: wrap;
        grid-column-gap: 0px;
        grid-row-gap: 5px;
        font-size: 14px;
        font-weight: 500;

        &_Cell {
            width: 50%;
        }
      }
    }
  }
}