.aboutMeEngineeringSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  &Title {
    font-size: 36px;
    color: #074C5F;
    font-weight: bold;
    margin-bottom: 32px;

    @media #{$sm}, #{$xs} {
      font-size: 18px;
    }
  }

  &Wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 5px;

    @media #{$sm}, #{$xs} {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 5px;
    }
  }
}