.aboutMePage {
  @include global-container;

  &Content {
    width: 100%;
    position: relative;
    z-index: 1;

    @media screen and #{$desktop-device} {
      padding-bottom: 1rem;
      margin-top: 9rem;
    }

    @media screen and #{$tablet} {
      margin-top: 9rem;
    }

    @media screen and #{$mobile} {
      margin-top: 8rem;
    }
  }
}


