.aboutMePage {
  @include global-container;
  padding: 4rem 0 6rem;
}

.section {
  margin-bottom: 4rem;
}

.sectionTitle {
  font-family: var(--font-poppins);
  @include fluid-type(22px, 28px, 34px);
  font-weight: 600;
  color: #074c5f;
  margin-bottom: 1rem;
}

.sectionBody {
  font-family: var(--font-figtree);
  @include fluid-type(16px, 18px, 20px);
  line-height: 1.6;
  color: $font-color-bold;
  max-width: 60rem;
}
