.aboutMePage {
  @include global-container;
  //background-color: bisque;

  &Content {
    width: 100%;
    position: relative;
    z-index: 1;

    @media screen and #{$desktop-device} {
      padding-bottom: 1rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media screen and #{$tablet} {
      margin-top: 2rem;
    }

    @media screen and #{$mobile} {
      margin-top: 1rem;
    }
  }
}


