@media #{$desktop} {
    .block-title {
        padding-top: 5rem;
        padding-bottom: 3rem;
        text-align: center;
    }
}

@media #{$lg}, #{$md} {
    .block-title {
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
}


@media #{$sm}, #{$xs} {
    .block-title {
        text-align: center;
    }
}

