@media #{$desktop} {
    .st-paragraph-text {
        margin: auto;
        width: 85%;
        padding-top: 1rem;
        .text-paragraph {
        }
    }

}

@media #{$lg}, #{$md} {
    .st-paragraph-text {
        margin: auto;
        width: 85%;
        padding-top: 1rem;
        .text-paragraph {
        }

    }
}

@media #{$sm}, #{$xs} {
    .storyteller-xsxm-paragraph-text {
        margin: auto;
        width: 100%;
        padding: 0 5%;
        padding-top: 2rem;
        .text-paragraph {
        }

    }
}

