@media #{$desktop} {
    .st-subtitle2-container {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        .subtitle-paragraph {
            padding-top: 20px;
            padding-bottom: 10px;
            text-align: center;
        }

    }
}

@media #{$tablet} {
    .st-subtitle2-container {
        padding-top: 3rem;
        .subtitle-paragraph {
            padding-top: 20px;
            padding-bottom: 10px;
            text-align: center;
        }
    }
}

@media #{$mobile} {
    .st-subtitle2-container {

        margin: auto;
        padding-top: 2rem;

        .subtitle-paragraph {
            padding-top: 20px;
            padding-bottom: 10px;
            text-align: center;
        }
    }
}