@import "@/styles/variables";
@import "@/styles/mixins";

.contactMeSection {
  padding: 4rem 0;
  background-color: #fff7ec; // soft warm/orange

  .content {
    @include global-container;
  }

  .heading {
    @include fluid-type(22px, 28px, 36px);
    font-family: var(--font-montserrat);
    font-weight: 600;
    margin-bottom: 1rem;
    color: $font-color-bold;
  }

  .placeholder {
    @include fluid-type(16px, 18px, 20px);
    font-family: var(--font-figtree);
    color: $font-color-bold;
    opacity: 0.75;
  }
}
