@import "@/styles/variables";
@import "@/styles/mixins";

.latestProjectsSection {
  min-height: 100vh;
  width: 100%;
  background-color: #f4f8fb; // soft greenish
  display: flex;
  align-items: center;
  justify-content: center; // if you want content centered vertically too

  .content {
    @include global-container;
  }

  .heading {
    @include fluid-type(22px, 28px, 36px);
    font-family: var(--font-montserrat);
    font-weight: 600;
    margin-bottom: 1rem;
    color: $font-color-bold;
  }

  .placeholder {
    @include fluid-type(16px, 18px, 20px);
    font-family: var(--font-figtree);
    color: $font-color-bold;
    opacity: 0.75;
  }
}

.floatLayer {
  position: absolute;
  inset: 0;
  overflow: visible;
  pointer-events: none; // background only
  z-index: 0; // behind content
}

.floatImg {
  position: absolute;
  opacity: 1;
  animation: slowFloat 12s ease-in-out infinite alternate;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.08));
}

@keyframes slowFloat {
  0%   { transform: translateY(240px) scale(0.5); transform: translate(-10px, 240px) scale(0.5);}
  100% { transform: translateY(-28px) scale(1.06); transform: translate(10px, -28px) scale(1.06);}
}

.summarySection {
  width: 100%;
  margin: 0 auto 2.5rem;
  display: flex;
  justify-content: center;  // center the text block horizontally

  .summarySectionText{
    max-width: 1000px;             
    /* Mobile */
    @media screen and #{$mobile} {
       max-width: 420px;     
    }

    @include fluid-type(16px, 18px, 20px);
      font-family: var(--font-figtree);
      color: $font-color-bold;
      line-height: 1.6;
      opacity: 0.9;
      text-align: left;
    }
}