@import "@/styles/variables";
@import "@/styles/mixins";

.latestProjectsSection {
  min-height: 100vh;
  width: 100%;
  background-color: #f2fff7; // soft greenish
  display: flex;
  align-items: center;
  justify-content: center; // if you want content centered vertically too

  .content {
    @include global-container;
  }

  .heading {
    @include fluid-type(22px, 28px, 36px);
    font-family: var(--font-montserrat);
    font-weight: 600;
    margin-bottom: 1rem;
    color: $font-color-bold;
  }

  .placeholder {
    @include fluid-type(16px, 18px, 20px);
    font-family: var(--font-figtree);
    color: $font-color-bold;
    opacity: 0.75;
  }
}
