/* app/home/main-banner.module.scss */

@import "@/styles/variables";
@import "@/styles/mixins";

.mainBanner {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;

  .bannerTexContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40vw;
  }

  .bannerPhoto {
    position: relative;
    width: clamp(250px, 25vw, 550px);
    height: clamp(250px, 25vw, 550px);
  }

  .blobMask {
    position: relative;        // important for Image fill
    width: 100%;
    height: 100%;
    overflow: hidden;
    mask-image: url("/home/images/blob-mask.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("/home/images/blob-mask.svg");
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  .bannerPhotoImage {
    object-fit: cover;  
  }

  .helloText {
    font-family: var(--font-poppins);
    @include fluid-type(18px, 24px, 34px);
    font-weight: 500;
    margin-bottom: 1rem;
    span {
      color: $font-color-bold;
      font-weight: 800;
    }
  }

  .backgroundText {
    @include fluid-type(24px, 36px, 45px);
    max-width: 48rem;
    font-family: var(--font-poppins);
    font-weight: 500;
    color: $font-color-bold;
    margin-bottom: 1.5rem;

    @media screen and #{$mobile} {
      text-align: center;
      margin-left: 4rem;
      margin-right: 4rem;
    }

    @media screen and #{$tablet} {
      max-width: 500px;
    }

    @media screen and #{$desktop-device} {
      max-width: 700px;
      min-width: 500px;
      //background-color: aqua;
    }

    .bannerPhoto {

    }
  }

  .description {
    @include fluid-type(16px, 18px, 34px);
    max-width: 48rem;
    font-family: var(--font-figtree);
    color: $font-color-bold;
    line-height: 1.5;
    margin-bottom: 2rem;
  
    @media screen and #{$tablet} {
      max-width: 40px;
    }
  }

  .linkedinButton {
    // any custom styles
  }  
}


