@import "@/styles/variables";

@media #{$xs}, #{sm} {
	.main-baner-area {
		display: flex;
		align-content: space-evenly;
		text-align: center;
		position: relative;	
		flex-direction: row;
		margin-top: 90px;
		.aae-banner {
			top: 10%;
			padding: 10px 0;

			.banner-photo { 
				display: block;
			}
	
			#banner-image-dimension {
				width: 70%;
				height: auto;
			}
	
			.heading-info {
				position: relative;
				text-align: center;
				margin-top: 0.5rem;
				z-index: 3;
			
                .sphere-shape {
                    position: absolute;
                    top: 30%;
                    float: left;
                    width: 200px;
                    height: 200px;
                    margin: 20px;
                    margin: -20px;
                    shape-outside: circle(50% at 30%);
                    clip-path: circle(50% at 10%);
                    background-image: linear-gradient( #FCD561, #A0B6CC);
                    opacity: 30%;
                }	

				.heading-primary-intro {
					display: block;
					font-size: 1.5rem;
					color: #011114;
					
                    
				}
				
				.heading-primary-main {
					display: block;
					margin: 1rem;
                    font-size: 1.5rem;
					font-weight: 700;
					color: #074C5F;
				}
	
				.heading-primary-sub {
					margin: 1rem;
                    text-align: left;
					display: block;
					font-size: 1.2rem;
					color: #011114;
                    text-align: center;
				}

				.contact-area {
					display: block;
                    margin: 2rem;
				}
			}
		}
	}
}

@media #{$md}, #{$lg} {
	.main-baner-area {
		// margin: 4rem;
		// background-color: green;
		margin-top: 8rem;
		@include lgmd-max-width;
		
		.sphere-shape {
			position: absolute;
			top: 20%;
			float: left;
			width: 200px;
			height: 200px;
			margin-left: -70px;
			shape-outside: circle(50% at 30%);
			clip-path: circle(50% at 30%);
			background-image: linear-gradient( #FCD561, #A0B6CC);
			opacity: 30%;
            z-index: -1;
		}

		.aae-banner {
			position: relative;		
			display: flex;
			flex-direction: row-reverse;
			//width: 100%;
			position: relative;
			align-content: space-evenly;
			//background-color: green;

			.banner-photo { 
				//display: block;
				margin-top: 3rem;
				width: 50%;
				margin: 2rem;
				text-align: right;
				;
			}
	
			#banner-image-dimension {
				width: 90%;
				height: auto;
			}
	
			.heading-info {
				display: block;
				position: relative;
				text-align: left;
				width: 60%;
				float: left;
				// margin-top: 15%;
				z-index: 3;
				//background-color: yellow;

				.heading-primary-intro {
					display: block;
					font-size: 1.3rem;
					margin-bottom: 2rem;	
				}
				
				.heading-primary-main {
					display: block;
					font-size: 1.5rem;
					font-weight: 800;
					margin-bottom: 35px;
					color: #074C5F;
				}
	
				.heading-primary-sub {
					text-align: left;
					display: block;
					font-size: 1.2rem;
					//width: 85%;				
				}

                .contact-area {
					//display: block;
                    //margin: 5rem;
					//width: 150%;
					margin-top: 2rem;	
					text-align: center;
					//background-color: red;
				}
			}
		}
	}	
}

@media #{$desktop}{
	.main-baner-area {
        position: relative;
		text-align: center;
		margin-top: 1rem;
		
		@include desktop-max-width;
	
		.aae-banner {
			display: flex;
			flex-direction: row-reverse;
			justify-content: left;
			#banner-image-dimension {
				width: 100%;
				height: auto;
				margin-left: 3rem;
			}

			.banner-photo { 
				display: block;
				margin-top: 8rem;
				width: 30%;
			}

			.heading-info {
				z-index: 8;
				position: relative;
				text-align:left;
				margin-bottom: 1rem;
				display: block;
				width: 57%;
				z-index: 9;
				float: left;
                margin-top: 5rem;

				.sphere-shape {
					position: absolute;
					top: 12%;
					left: 10%;
					width: 380px;
					height: 380px;
					margin-left: -20%;
					z-index: -1;
					clip-path: circle(30% at 30%);
					background-image: linear-gradient( #FCD561, #A0B6CC);
					opacity: 30%;
				}

				.heading-primary-intro {
					display: block;
					font-size: 1.5rem;
					font-weight: 400;
					margin-bottom: 2rem;	
					color: #03252e;
				}
				
				.heading-primary-main {
					display: block;
					font-size: 2rem;
					font-weight: 500;
					margin-bottom: 2rem;
                    margin-right: 3rem;
					color: #074C5F;
				}
	
				.heading-primary-sub {
					padding: 5px;
					text-align: left;
					display: block;
					font-size: 1.2rem;
					font-weight: 500;
					color: #03252e;
				}

				.contact-area {
                    margin: 2rem;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    
			}
		}
	}
}
