@import "@/styles/variables";

/* app/home/main-banner.module.scss */

.mainBanner {
  padding: 4rem 0;
  text-align: left;
}

.title {
  font-family: var(--font-figtree);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-family: var(--font-poppins);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.description {
  max-width: 48rem;
  font-family: var(--font-montserrat);
  line-height: 1.5;
  margin-bottom: 2rem;
}

.linkedinButton {
  // any custom styles
}

