/* app/home/my-background.module.scss */

@import "@/styles/variables";
@import "@/styles/mixins";

.myBackgroundSection {
  min-height: 100vh;
  width: 100%;
  background-color: #f4f8fb;
  display: flex;
  align-items: center;
  overflow: visible !important;
  position: relative;  /* required for stacking */
}

.content {
  @include global-container;
  text-align: center;
  width: 100%;
  position: relative;            // ✅ participate in stacking
  z-index: 1;
  padding-bottom: 10%;
}

.heading {
  font-family: var(--font-poppins);
  font-size: clamp(1.8rem, 4vw, 2.2rem);
  font-weight: 600;
  color: #074C5F;
  margin-bottom: 2rem;

  //background-color: aqua;
  padding-bottom: 2vh;

  @media screen and #{$tablet} {
    margin-left: 1vw;
    display: flex;
    justify-content: flex-start;
  }

  @media screen and #{$desktop-device} {
    margin-left: 3vw;
    display: flex;
    justify-content: flex-start;
  }
}


.placeholder {
  @include fluid-type(16px, 18px, 20px);
  font-family: var(--font-figtree);
  color: $font-color-bold;
  opacity: 0.75;
}

.backgroundsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;   // <— center within .content

  //justify-content: center;
  
  /* Desktop */
  @media screen and #{$desktop-device} {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

  /* Tablet — two per row naturally */
  @media screen and #{$tablet} {
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  /* Mobile */
  @media screen and #{$mobile} {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

.cardWrapper {
  max-width: 340px;
  opacity: 0;
  transform: translateY(24px);
  transition:
  opacity 0.6s ease-out,
  transform 0.6s ease-out;
}

.cardInView {
  opacity: 1;
  transform: translateY(0);
}

.floatLayer {
  position: absolute;
  inset: 0;
  overflow: visible;
  pointer-events: none; // background only
  z-index: 0; // behind content
}

.floatImg {
  position: absolute;
  opacity: 1;
  animation: slowFloat 12s ease-in-out infinite alternate;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.08));
}

@keyframes slowFloat {
  0%   { transform: translateY(240px) scale(0.5); transform: translate(-10px, 240px) scale(0.5);}
  100% { transform: translateY(-28px) scale(1.06); transform: translate(10px, -28px) scale(1.06);}
}

.summarySection {
  width: 100%;
  margin: 0 auto 2.5rem;
  display: flex;
  justify-content: center;  // center the text block horizontally

  .summarySectionText{
    max-width: 1000px;             
    /* Mobile */
    @media screen and #{$mobile} {
       max-width: 420px;     
    }

    @include fluid-type(16px, 18px, 20px);
      font-family: var(--font-figtree);
      color: $font-color-bold;
      line-height: 1.6;
      opacity: 0.9;
      text-align: left;
    }
}