@import "@/styles/variables";
@import "@/styles/mixins";

.flip-card-container {
  width: 276px;
  height: 177px;
}
      
.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
      
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
     
    .flip-card-front, .flip-card-back {
        background-color: yellow;
        //position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
      
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
      
    .flip-card-back {
        color: white;
        transform: rotateY(180deg);
        //width: 280px;
        height: 0px;
    }

/*
@media screen and #{$mobile} {
    .flip-card-container {
       background-color: transparent;
       width: 280px;
       height: 180x;
    }
      
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
      
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
     
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
      
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
      
    .flip-card-back {
        color: white;
        transform: rotateY(180deg);
    }
}

 @media screen and #{$tablet}  {
    .flip-card-container{
        //background-color: transparent;
        background-color: red;
        //width: 100%;
        //height: 100%;
        //width: 345px;
        //height: 221px;
        //perspective: 1000px;
        //display: flex;
        //flex-direction: row;
        // align-items: flex-start;
        //justify-content: flex-end;
    }
      
    .flip-card-inner {
        position: relative;
        //width: 100%;
        //height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
      
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
     
    .flip-card-front, .flip-card-back {
        background-color: yellow;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
      
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
      
    .flip-card-back {
        color: white;
        transform: rotateY(180deg);
    }
}



 @media screen and #{$desktop-device}  {
    .flip-card-container {
        background-color: transparent;
        background-color: red;
        //width: 345px;
        //height: 221px;
        //perspective: 1000px;
    }
      
    .flip-card-inner {
        position: relative;
        //width: 100%;
        //height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
      
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
     
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
      
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
      
    .flip-card-back {
        color: white;
        transform: rotateY(180deg);
    }
}

*/

 