@import "@/styles/variables";

@keyframes slide-in-menu {
	from {
		width: 0px;
	}

	to {
		width: 100%;
	}
}

.main_menu {
    ul {
        li {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

// Header area css
.header_area{
	position: relative;

	.menu_icon {
		cursor: pointer;
	}

	.site_menu {
		// background-color: aqua;
		@media #{$xs}{
			display: none;
		}
		@media #{$sm}{
			display: none;
		}
		@media #{$md}{
			display: none;
		}

		.primary_menu{
			float: right;

			.main_menu{
				ul {
						li {
								position: relative;
								display: inline-block;
								margin-left: 40px;

								a {
									display: block;
									margin: 14px 0;
									padding-bottom: 4px;
									color: #496A8A;
									font-weight: 400;
									position: relative;
									text-decoration: initial;

									@media #{$desktop}{
										font-size: 0.9rem;
									}

									&.active_link{
										text-decoration: none;
										font-weight: bold;

										&:after {
											background: $theme_color;
											animation-duration: 0.5s;
											animation-name: slide-in-menu;
											animation-fill-mode: forwards;
										}
									}

									&:after{
										content: '';
										position: absolute;
										left: 0;
										bottom: 0;
										width: 0;
										height: 3px;
										transition: width .5s;
									}
								}

						}
						&:hover{
							& ul.sub-menu{
									transform:(scale(1));
									visibility: visible;
									opacity: 1;
									box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
							}
						}
				}
			}
		}
	}

	& .mobile_wrapper{
		@media #{$lg}{
			display: none;
		}

		@media #{$desktop}{
			display: none;
		}

		& .menu_button{
			float: right;
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px;
			border-radius: 100%;
			background: #496A8A;

			& .menu_icon{
				width: 20px;

				& span{
					display: block;
					width: 20px;
					height: 2px;
					background-color: $mobile_hamburger_color;
					margin: 4px 0 2px;
					transition:.5s;

					&:nth-child(1){
						margin-top: 0;
					}
					&:nth-child(3){
						width: 15px;
						margin-bottom: 0;
					}
				}
			}
			& .active{
				& span{
					&:nth-child(1){
						width: 10px;
					}
					&:nth-child(2){
						width: 15px;
					}
					&:nth-child(3){
						width: 10px;
					}
				}
			}
		}
	}
	& .sidenav_menu{
		width: 60%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		padding: 40px 30px;
		z-index: 9999;
		background: #496A8A;
		transform: translateX(-110%);
		transition: .5s;

		.sidenav_header {
			border-bottom: 1px solid #F6E8C3;
			margin-bottom: 30px;

			p {
				color: $white;
				font-weight: bold;
				font-size: 1rem;
			}
		}

		& .close_icon{
			position: absolute;
			top: 80px;
			right: -22px;

			.close_btn{
				width: 30px;
				height: 30px;
				top: 20px;
				right: 5px;
				position: absolute;
				color: $white;
			}

			.close_bg {
				height: 70px;
			}
		}

		& .sidebar-menu {
			padding-left: 0;

			& li{
				display: flex;
				align-items: center;
				margin-bottom: 30px;

				.menu-icon {
					margin-right: 15px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 30px;
					height: 30px;

					svg {
						height: 25px;
						width: auto;
					}
				}

				& a{
					display: flex;
					align-items: center;
					text-transform: capitalize;
					color: $sidebar_text_color;
					font-size: $sidebar_font-size;
					font-weight: $sidebar_font-weight;
					text-decoration: none;

					&.active_link {
						color: $theme_color;
					}

					&.deneb_btn {
						&:hover {
							color: $white;
						}
						&:focus {
							color: $white;
						}
					}
						&:hover,
						&:focus{
							color: $theme_color;
						}
						& .deneb_btn{
							padding: 0;
						}
					}
			}
			& .active{
				a{
					color: $theme_color;
				}

			}
		}

		@media #{$md, $desktop} {
			width: 40%;
		}
	}

	& .active{
		transform: translateX(0);
	}
}
// transparent Header
.transparent_header{
    // background-color: aqua;
	position: absolute;
	top: 33px;
	left: 0;
	width: 100%;
	z-index: 337;
}
// sticky_header
.header_area.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $white;
	z-index: 337;
	box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
	.site_menu{
		padding: 10px 0;
	}
}