@use '../typography' as typo;

.desktop-illlustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 2600px;
    background-color: #F4F4F4;
    margin-top: 6rem;
    padding-bottom: 4rem;

    span {
        @include typo.ar-st-body-type;
        font-size: 16px;
        font-weight: 500;
    }

    .illustration-title {
        padding-top: 2rem;
        @include typo.ar-st-title-type(700);
        font-size: 32px;
    }

    .image-container {
        width: 90%;
        text-align: center;
        padding-bottom: 2rem;
        padding-top: -2rem;
    }

    .text-description {
        width: 50%;
        padding-top: 1rem;
        @include typo.ar-st-body-type;
        font-size: 20px;
    }
}

.mobile-illlustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F4;
    margin-top: 3rem;

    .image-container {
        width: 80%;
        text-align: center;
    }

    .illustration-title {
        @include typo.ar-st-title-type(600);
        font-size: 18px;
    }

    .text-description {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        width: 80%;
        @include typo.ar-st-body-type;
        font-size: 16px;
    }
}

.tablet-illlustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .image-container {
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
    }

    .illustration-title {
        @include typo.ar-st-title-type(600);
        font-size: 20px;
    }

    .text-description {
        width: 80%;
        padding-top: 1rem;
        @include typo.ar-st-body-type;
        font-size: 20px;
    }
}

.object-fit_fill {
    object-fit: fill;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
