@use '../typography' as typo;

@mixin mockup-title-type($font-size) {
    @include typo.ar-st-title-type(600);
    font-size: $font-size;
}

@mixin mockup-description-type($font-size) {
    @include typo.ar-st-body-type;
    font-size: $font-size;
}

@media #{$desktop} {
    .mockup-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 45%;
        padding-top: 5rem;

        span {
            text-align: center;
            margin-bottom: 1rem;
            @include mockup-title-type(22px);
        }

        p {
            padding-top: 2rem;
            padding-left: 15%;
            padding-right: 15%;
            @include mockup-description-type(20px);
        }
    }
}

@media #{$tablet} {
    .mockup-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 55%;

        span {
            padding-top: 6rem;
            text-align: center;
            @include mockup-title-type(20px);
        }

        p {
            padding-top: 3rem;
            padding-left: 15%;
            padding-right: 15%;
            @include mockup-description-type(20px);
        }
    }
}

@media #{$mobile} {
    .mockup-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            text-align: center;
            @include mockup-title-type(18px);
            padding-top: 2rem;
            padding-bottom: 1rem;
        }

        .description {
            @include mockup-description-type(16px);
            text-align: center;
            padding-top: 1.5rem;
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}
