.paragraph-block__title {
    padding-top: 2rem;
    padding-bottom: 0.75rem;
    text-align: center;
}

.paragraph-block__subtitle {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

@media #{$tablet} {
    .paragraph-block__title {
        padding-top: 3rem;
    }

    .paragraph-block__subtitle {
        padding-top: 2rem;
    }
}

@media #{$desktop} {
    .paragraph-block__title {
        padding-top: 5rem;
        padding-bottom: 1.25rem;
    }

    .paragraph-block__subtitle {
        padding-top: 3rem;
        padding-bottom: 0.75rem;
    }

    .st-paragraph-block {
        margin: auto;
        width: 85%;
    }
}

@media #{$tablet} {
    .st-paragraph-block {
        margin: auto;
        width: 85%;
    }
}

@media #{$mobile} {
    .st-paragraph-block {
        margin: auto;
        width: 100%;
        padding: 0 5%;
    }
}
