@use '../typography' as typo;

@mixin video-title-type($font-size) {
    @include typo.ar-st-title-type(700);
    font-size: $font-size;
    text-align: center;
}

@mixin video-description-type($font-size) {
    @include typo.ar-st-body-type;
    font-size: $font-size;
    text-align: center;
}

.storyteller-DesktopParagraphVideo {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .iframeContainer {
        text-align: center;
    }

    .title {
        @include video-title-type(26px);
        padding-top: 6rem;
    }

    .description {
        @include video-description-type(20px);
        padding-top: 3rem;
    }
}

.storyteller-lgmdParagraphVideo {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .title {
        @include video-title-type(24px);
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .description {
        @include video-description-type(20px);
    }
}

.storyteller-xssmParagraphVideo {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

    .title {
        @include video-title-type(22px);
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .description {
        @include video-description-type(18px);
        padding-top: 1.5rem;
    }
}
