.skillsChart {
  &ProgressInner {
    width: 100%;
    margin-bottom: 31px;
  }

  &Label {
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 10px;
    display: inline-block;
  }

  &Background {
    width: 100%;
    min-width: 100%;
    position: relative;
    height: 16px;
    border: 1px solid #7e7e7e;
    padding: 2px;
    padding-left: 0rem;
  }

  &BarIn {
    height: 100%;
    background: #074C5F;
    overflow: hidden;
  }

  &Bar {
    height: 100%;
  }
}
