

.ContacMeContainer {
    display: flex;       
    @media screen and #{$desktop-device, $tablet} {
        width: 30%;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        gap: 1rem;
    }

    @media screen and #{$mobile} {
        padding-top: 1rem;
        flex-direction: column;
        align-items: flex-start;;
        align-content: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .contactMeSectionTitle {
        width: 100%;
        font-family: var(--font-poppins);
        font-weight: 500;
        @include fluid-type(18px, 20px, 22px);
        color: #074C5F;
        padding-bottom: 1rem;
    }

    .contactRow {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        span {
        font-family: var(--font-figtree);
        font-weight: 500;
        @include fluid-type(16px, 18px, 20px);
        color: #074C5F;
        padding-left: 1rem;
        }
    }
}