.aboutmeCard {
  padding: 25px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 8px 20px 0px #00000040;
  border: 1px solid #EBE6E6;
  border-radius: 16px;
  max-width: 250px;
  min-height: 275px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;

  &:hover,
  &.selected {
    background: #3A728999;
  }

  &:hover &Title,
  &.selected &Title{
    color: white;
  }

  &Image {
    max-width: 150px;
    height: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    img {
      width: 100%;
    }
    @media #{$sm}, #{$xs} {
      max-width: 85px;
      height: 80px;
      margin-bottom: 15px;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  &Title {
    font-size: 23px;
    color: #074C5F;
    text-align: center;

    @media #{$sm}, #{$xs} {
      font-size: 16px;
    }
  }

  @media #{$sm}, #{$xs} {
    max-width: 140px;
    min-height: 178px;
    padding: 15px 10px;
  }
}