// styles/mixins.scss

@mixin global-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  //background-color: red;

  @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
    min-width: $container-min;
    max-width: $container-max;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: aqua;
  }
}
