.education {
    &Container {
        width: 100%;
        height: auto;
    }

    &Wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }

    &Info {
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
    }

    &Period-background {
        font-size: 1rem;
        font-weight: normal;
        color: #022c38;
        margin-bottom: 15px;
    }


    &Degree-title {
        font-weight: bold;
        color: #022c38;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    &School-name {
        font-weight: bold;
        color: #022c38;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 10px;
    }

    &Location {
        font-size: 1rem;
        font-weight: normal;
        color: #022c38;
    }

    &Details {
        font-size: 1rem;
        line-height: 120%;
    }

    @media #{$sm} {
        &Wrapper {
            flex-direction: column;
            align-items: center;
            padding: 0;

            img {
                margin-bottom: 15px;
            }
        }

        &Info {
            padding-left: 0;
            justify-content: center;
            text-align: center;
        }

        &Details {
            text-align: left;
        }
    }
}
