.aboutmePersonalTime {
  &Content {
    display: flex;
    gap: 100px;
  }

  &Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &Img {
    margin-bottom: 50px;
  }

  &Title {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
  }

  @media #{$sm} {
    &Content {
      flex-direction: column;
    }
  }
}